header{
    display: flex;
    justify-content: space-evenly;
}


.nav-header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.nav-header ul{
    display: flex;
    list-style: none;
    gap: 20px;
}


.btn-member{
    background-color: #23A6F0;
     border: 0px;
     border-radius: 5px;
     padding: 15px 25px;
}


.login-become{
    gap: 25px;
}
   
.financial-content{
    display: flex;
    margin-top: 80px;
}


.assistance-content{
    width: 509px;
    margin-bottom: 30px;
}


.how-large{
    width: 376px;
    margin-bottom: 20px;
}


.btn-get{
    background-color: var(--primary-color);
    border: 0px;
    border-radius: 37px;
    padding: 15px 36px;
}


.btn-more{
    border: 0px;
    border-radius: 37px;
    padding: 15px 36px;
}


.better-conteiner{
    display: flex;
    justify-content: center;
}
